.tagBar{
    display: flex;
    width: 100%;
}

.listContainer{
    width: 70%;
}

.tagButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.editTagButton{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tagButton:hover{
    background-color: #ccc;
}

.clickedTagButton{
    background-color: #000000;
}

#tagListMaster{
    width: 100%;
}

#popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;

    div{
        display: none;
    }

    button{
        display: none;
    }

    input{
        display: none;
    }
}

.listItem{
    border: 1px solid #ccc;
}

.listContainer{
    border: 3px solid #ccc;
}

#extraSpace{ /* This is to make sure the popUp follows the user as they scroll*/
    width: 100%;
    height: 600px;
}

/* TODO:
    1. Add hover effect
    2. Add active effect
    3. Add disabled effect
    4. Create tag list
    5. Add scroll arrow for tags when list is too big
*/